<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #2a4057;">
    <a class="navbar-brand" href="#">SHOR.TY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists">List of URLS</a>
        </li>
  
      </ul>
    </div>
  </nav>